<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dashboard</title>
 
		<!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
		<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
		
		<!-- PLUGINS CSS -->
		
		<!-- MAIN CSS (REQUIRED ALL PAGE)-->
		<link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">
 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- CUSTOM STYLES -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">

	</head>
 
	<body class="tooltips">
		<!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
		<div class="wrapper">
			<!-- BEGIN TOP NAV -->
			<div class="top-navbar">
				<div class="top-navbar-inner">
					
					<!-- Begin Logo brand -->
					<div class="logo-brand">
						<a href="{% url 'dashboard:index' %}"><img src="{% static 'assets/img/sentir-logo-primary.png' %}" alt="Sentir logo"></a>
					</div><!-- /.logo-brand -->
					<!-- End Logo brand -->
					
					<div class="top-nav-content no-right-sidebar">
						<!-- Begin button nav toggle -->
						<div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
							<i class="fa fa-plus icon-plus"></i>
						</div><!-- /.btn-collapse-sidebar-right -->
						<!-- End button nav toggle -->
						
						<!-- Begin user session nav -->
						<ul class="nav-user navbar-right full">
							<li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Hi, <strong>{{user.first_name}} {{user.last_name}}</strong>
							  </a>
							  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
								<li><a href="{% url 'dashboard:settings' %}">Account setting</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'users:logout' %}">Log out</a></li>
							  </ul>
							</li>
						</ul>
						<!-- End user session nav -->
					</div><!-- /.top-nav-content -->
				</div><!-- /.top-navbar-inner -->
			</div><!-- /.top-navbar -->
			<!-- END TOP NAV -->
			
			<!-- BEGIN PAGE CONTENT -->
			<div class="page-content no-left-sidebar">
			
				<div class="container-fluid">
				
					<!-- Begin page heading -->
					<h1 class="page-heading">DASHBOARD</h1>
					<!-- End page heading -->
				
					<!-- BEGIN EXAMPLE ALERT -->
					{% if messages %}
					{% for message in messages %}
						{% if message.tags == "success" %}
						<div class="alert alert-success alert-bold-border square fade in alert-dismissable">
							<strong>{{message}}</strong>
						</div>
						{% endif %}
					{% endfor %}
					{% endif %}
					<!-- END EXAMPLE ALERT -->
					<div class="row">
						<div class="col-sm-6">
							<div class="the-box">
								<div class="form-group">
									<label>Select data source:</label>
									<select name="" id="temperature-data-source" class="form-control">
										<option value="Source1">Source1</option>
										<option value="Source2">Source2</option>
										<option value="Source3">Source3</option>
									</select>
								</div>
								<div id="line-chart"></div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="the-box">
								<div class="form-group">
									<label>Select data source:</label>
									<select name="" id="multi-data-source" class="form-control">
										<option value="Source1">Source1</option>
										<option value="Source2">Source2</option>
										<option value="Source3">Source3</option>
									</select>
								</div>
								<div id="pie-chart"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="the-box">
								<div class="form-group">
									<label>Select data source:</label>
									<select name="" id="status-data-source" class="form-control">
										<option value="Source1">Source1</option>
										<option value="Source2">Source2</option>
										<option value="Source3">Source3</option>
									</select>
								</div>
								<div id="dot-chart"></div>
							</div>
						</div>
					</div>
				</div><!-- /.container-fluid -->
				
				
				
				<!-- BEGIN FOOTER -->
				<footer>
					&copy; 2016 <a href="#">Your company</a><br />
					Design by <a href="http://isohdesign.com" target="_blank">ids</a>. Purchase this item at <a href="http://goo.gl/wSCjxD" target="_blank">Themeforest</a>
				</footer>
				<!-- END FOOTER -->
				
				
			</div><!-- /.page-content -->
		</div><!-- /.wrapper -->
		<!-- END PAGE CONTENT -->

		<!--
		===========================================================
		END PAGE
		===========================================================
		-->
		
		<!--
		===========================================================
		Placed at the end of the document so the pages load faster
		===========================================================
		-->
		<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/plugins/retina/retina.min.js' %}"></script>
		<script src="{% static 'assets/plugins/nicescroll/jquery.nicescroll.js' %}"></script>
		<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
		<script src="{% static 'assets/plugins/backstretch/jquery.backstretch.min.js' %}"></script>
 
		<!-- PLUGINS -->
		<!-- Load c3.css -->
		<link href="{% static 'bower_components/c3/c3.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Load d3.js and c3.js -->
		<script src="{% static 'bower_components/d3/d3.min.js' %}" charset="utf-8"></script>
		<script src="{% static 'bower_components/c3/c3.min.js' %}"></script>
		<!-- Custom chart with fake data -->
		<script src="{% static 'js/dashboard/charts.js' %}"></script>
	</body>
</html>
